@import 'mixins';

body {
  background-color: rgba($primary-color, 0.04) !important;
  height: fit-content !important;
  overflow: hidden !important;
}

p {
  margin: 16px 0;
}

* {
  font-family: $bold-font;
  font-size: 14px;
  font-weight: normal;
}

::-webkit-scrollbar {
  background-color: $athens-gray;
  width: 8px;
}

::-webkit-scrollbar-track {
  @include nr-box-shadow(inset 0 0 6px rgba($black-color, 0.3));

  background-color: $athens-gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image:
    -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, $dusty-gray),
      color-stop(0.66, $dusty-gray),
      color-stop(0.77, $dusty-gray)
    );
  border-radius: 10px;
}

/* This is common style for three components i.e, user, contact and nni address */


hr {
  border: 0.6px solid $alto-gray;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.light-bg{
  background-color: lighten($primary-color, 43%) !important;
}


@mixin responsive-table {

  .mat-table[nrMatTableResponsive] {

    .mat-header-row {
      height: auto;

      th.mat-header-cell {

        &:not([mat-sort-header]),
        &.mat-sort-header-disabled,
        &.mat-column-actions {
          display: none !important;
        }
      }
    }

    .mat-row {
      height: auto;

      td.mat-cell {
        background-color: $white-color;

        &:first-of-type {
          border-radius: 8px 8px 0 0 !important;
        }

        &:last-of-type {
          border-radius: 0 0 8px 8px;
          margin-bottom: 16px;
        }

        &:not(.mat-column-actions) {
          display: grid;
          grid-template-columns: 50% 50%;
          padding: 12px;
          text-align: right;

          > * {
            grid-column: 2;
          }

          &::before {
            content: attr(data-column-name);
            font-family: $heavy-font;
            text-align: left;
          }
        }

        &:not(:nth-of-type(2)) {
          border: none !important;
        }
      }
    }
  }
}

.customer-list,
.child-services-list {
  @include nr-media('lt-md') {
    @include responsive-table;
  }
}

.quotes-orders-table,
.service-list-table,
.footprint-log {
  @include nr-media('lt-md') {
    @include responsive-table;

    .mat-table,
    mat-paginator {
      background-color: $mild-gray !important;
    }
  }
}

.edit-icons,
.delete-icon {
  border-radius: 20px;
  display: inline-table !important;
  transition: 0.2s;

  &:hover {
    background-color: $athens-gray;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

sup {
  color: $warn-color;
  line-height: 0;
  padding-left: 3px;
  position: relative;
  vertical-align: baseline;
}

mat-icon {
  font-family: $material-icon-outline;
}

.page-not-found {
  height: 100vh;

  .error-title {
    height: 130px;
  }

  .error-image {
    height: 300px;
  }
}

.faint-primary-bg {
  background: $faint-primary-bg;
}

.mat-card {
  border-radius: 8px !important;
}

.upload-file {
  background: $porcelain-gray;

  .select-file {
    border: 2px dashed $alto-gray;
    height: 110px;

    button {
      max-height: 32px !important;
    }
  }
}


.google-btn {
  background: lighten($primary-color, 45%) !important;
}

.facebook-btn {
  background:  lighten(#1877F2, 45%) !important;
}

.landing-page {
  overflow-y: auto;
  height: 100vh;
}

.line-break {
  width: 40%;

  hr {
    background: #FFBABA;
    height: 4px;
    border-radius: 8px;
    margin: 0 26px;
  }
}

//cards
.image-container {
  height: 170px;
  position: relative;

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .cost-label {
    position: absolute;
    border-radius: 4px;
    top: 14px;
    left: 16px;
    padding: 4px;
    background: rgba(29, 178, 182, 0.6);
  }



}
.featured-apartment {
}

.example-card:nth-child(3n) {
  margin-right: 0 !important;
}

.common-chat-modal {
  height: 100vh;
}

::ng-deep.permission-accordion {
  .mat-accordion {
    & .mat-expansion-panel-spacing:first-child {
      margin-top: 20px;
    }

    ::ng-deep.mat-expansion-panel {
      border-radius: 8px !important;
      margin-top: 20px !important;

      mat-expansion-panel-header {
        height: 64px !important;
      }

      &:not(.mat-expanded) mat-expansion-panel-header {
        &:hover:not([aria-disabled='true']) {
          background: lighten($primary-color, 43%);
        }

        &.mat-expansion-toggle-indicator-after .mat-expansion-indicator{
          margin-right: 7px !important;
        }
      }
      &.mat-expanded mat-expansion-panel-header {
        background: $primary-color;
        .mat-expansion-panel-header-title {
          color: $white-color !important;
        }
        .mat-expansion-toggle-indicator-after .mat-expansion-indicator{
          color: $white-color !important;
        }
      }
    }

    table tr:last-of-type td {
      border-bottom: none;
    }
  }
}

.landing-hr {
  height: 20%;
}


